
body{
    background:#333;
    color:#fff;
}
.new{
    height: 60px;
    width: 60px;
}
.companyname{
    font-size: 25px;
    color: aliceblue;

}
.navbar{
 border-bottom: 3px solid #008ad6;
 background: #000;
 opacity: 0.7;


}.nav-item{
    padding-right: 1em !important;
}.nav-link{
    text-transform: uppercase;
}
.fa{
         background: #fff;
         color: #0f82c0;
         padding: 4px;
         font-size: 30px;
}
hr{
    border: 1px solid rgb(179, 164, 164);
    border-radius: 1px;
}
ul>li>a{
    text-decoration-color: beige;
    font-size: 18px;
}
/*slider*/
.carousel-item{
    height: 470px;
}
.carousel-img-1{
    background: url('../img/manCover/mant.jpg');
    background-size: cover;
    
}
.carousel-img-2{
    background: url('../img/sectionimg.jpg');
    background-size: cover;
}
.carousel-img-3{
    background: url('../img/section.jpg');
    background-size: cover;
}
.textCol{
   color: rgb(235, 235, 235);
}












